body{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
	height: 100%;
	color: white;
	font-weight: bold;
	background-image: url('http://github.com/polera/media/raw/github/img/ghbg.png');
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
}